.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}

.search-form-item {
  width: 250px;
}
